
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');


* {
    box-sizing: border-box;
      font-family: "Epunda Slab", serif;
      font-size: large;
}
body{
    background-color: rgb(194, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

p{
    color: white;
}

label{
    color: black;
    border: 1px solid white;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 10px;
    
    
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    gap: 5px;
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    gap: 200px;
    
}

.gridContainer{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    

   
    
    
    
}

.gridContainer div{
    box-sizing: border-box;
}



.green{
    background-color: green;
    color: white;
}

button{
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.1);
}

input{
    cursor: pointer;
    background-color: rgb(64, 60, 60);;
  
}

#color{
    width: 50px;
   height: 50px;
   border: none;
   background-color: rgb(194, 191, 191);
   border-radius: 50%;
   
}


h1{
    color: rgb(114, 62, 62);
    font-size: 50px;
    text-align: center;
}

h3{
    color: white;
    transition: 2s;
}

.newGrid{
    color: white;
    background-color: blue;
}

.headers{
    height: 30vh;
}

.rgbMode{
    color: white;
}

.eraser{
    color: white;
}

.firstLaunch{
    width: 50px;
    height: 50px;
}

.gridDiv{
    border: .2px solid rgba(84, 83, 83, 0.059);
}

